.main-chat-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/bubble.png");
}

.main-album-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/album.png");
}

.main-collection-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/collection.png");
}

.main-file-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/folder.png");
}

.main-friends-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/friend.png");
}

.main-see-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/see.png");
}

.main-little-program-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/little_program.png");
}

.main-phone-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/phone.png");
}

.main-more-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/more.png");
}

.main-top-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 13px 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/pin.png");
}

.main-hide-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 13px 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/shrink.png");
}

.main-full-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 13px 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/enlarge.png");
}

.main-close-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 13px 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/close.png");
}

.main-chat-messages-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/message.png");
}

.main-emoji-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/smile.png");
}

.main-send-file-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 22px 22px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/folder2.png");
}

.main-cut-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/cut.png");
}

.main-chat-record-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/chat_record.png");
}

.main-voice-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 22px 22px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/voice.png");
}

.main-video-icon {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/video.png");
}

.main-add-icon {

    -fx-background-color: #e2e2e2;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-image: url("/images/button/add.png");
}

.main-add-icon:hover {
    -fx-background-color: #d1d1d1;
}

.main-top-icon:hover {
    -fx-background-color: #e2e2e2;
}

.main-hide-icon:hover {
    -fx-background-color: #e2e2e2;
}

.main-full-icon:hover {
    -fx-background-color: #e2e2e2;
}

.main-close-icon:hover {
    -fx-background-color: #fb7373;
}

.main-send-button {
    -fx-background-color: #f5f5f5;
}

.main-send-button:hover {
    -fx-background-color: #129611;
    -fx-text-fill: #ffffff;
}

.main-middle-pane {
    -fx-border-insets: 0;
    -fx-border-color: transparent #d6d6d6 transparent transparent;
}

.text-area {
    -fx-border-insets: 0;
    -fx-background-color: transparent, white, transparent, white, transparent;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white, transparent;
}

.text-area:focused {
    -fx-background-color: transparent, white, transparent, white, transparent;
}

.main-chat-list-scroll-pane .viewport {
    /*-fx-border-insets: 0;*/
    -fx-border-style: none;
    -fx-background-color: #e6e6e6;
}

.main-chat-list-scroll-pane .viewport:focused{
    -fx-border-style: none;
    -fx-border-color: transparent;
    -fx-background-color: #e6e6e6;
}

.main-chat-list-scroll-pane{
    -fx-border-style: none;
    -fx-background-color: transparent;
}
.main-chat-list-scroll-pane:focused{
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.main-split-pane {
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.main-split-pane .content {
    -fx-border-style: none;
}

.main-split-pane:focused {
    -fx-background-color: transparent, transparent, transparent, white, transparent;
}

.main-message-scroll-pane {
    -fx-border-style: solid;
    -fx-border-color: #d6d6d6 transparent transparent transparent;
}

.main-split-pane *.split-pane-divider {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 1 0 1;
}

.main-chat-list-item:hover {
    -fx-background-color: #d8d8d8;
}

.scroll-bar:vertical {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-border-insets: 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-border-insets: 0;
    -fx-border-color: transparent transparent transparent transparent;
}

.scroll-bar:vertical .track {
    visibility: hidden;
    -fx-background-color: transparent;
    -fx-border-insets: 0;
    -fx-border-color: transparent transparent transparent transparent;
}