<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyx.mapper.ChatListItemMapper">
    <select id="getChatListItemById" parameterType="Integer" resultType="ChatListItem">
        select * from chat_list_item where id = #{id};
    </select>

    <select id="getLastOneItem" resultType="ChatListItem">
        select * from chat_list_item order by id desc limit 1
    </select>

    <select id="getAllChatListItems" resultType="ChatListItem">
        select * from chat_list_item;
    </select>

    <insert id="addChatListItem" parameterType="ChatListItem">
        insert into chat_list_item (url, username, message, date, friendId)
        values (#{url},#{username},#{message},#{date},#{friendId});
    </insert>

    <delete id="deleteChatListItemById" parameterType="Integer">
        delete from chat_list_item where id = #{id}
    </delete>

    <update id="updateChatListItem" parameterType="ChatListItem">
        update chat_list_item set
        friendId = #{friendId},
        url = #{url},
        username = #{username},
        message = #{message},
        date = #{date}
        where
        id = #{id}
    </update>
</mapper>