<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyx.mapper.FriendMapper">
    <select id="getFriendById" parameterType="Integer" resultType="Friend">
        select * from friend where id = #{id};
    </select>

    <select id="getLastFriendByUserId" parameterType="Integer" resultType="Friend">
        select * from friend where userId = #{userId} order by id desc limit 1;
    </select>

    <select id="getFriendByUserIdAndUsername" resultType="Friend">
        select * from friend where userId = #{userId} and username = #{username};
    </select>

    <select id="getAllFriendsByUserId" resultType="Friend">
        select * from friend where userId = #{userId};
    </select>

    <insert id="addFriend" parameterType="Friend">
        insert into friend ( username, url, userId, sign,remark,weChatAccount,origin,sex,region,publicKeyPath)
        values (#{username},#{url},#{userId},#{sign},#{remark},#{weChatAccount},#{origin},#{sex},#{region},#{publicKeyPath});
    </insert>

    <delete id="deleteFriendByUserId" parameterType="Integer">
        delete from friend where userId = #{userId}
    </delete>

    <update id="updateFriend" parameterType="Friend">
        update friend set
        username = #{username},
        url = #{url},
        username = #{username},
        sign = #{sign},
        remark = #{remark},
        weChatAccount = #{weChatAccount},
        origin = #{origin},
        region = #{region},
        userId = #{userId},
        publicKeyPath = #{publicKeyPath}
        where
        id = #{id}
    </update>
</mapper>