<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyx.mapper.MessageMapper">
    <select id="getMessageById" parameterType="Integer" resultType="Message">
        select * from message where id = #{id};
    </select>

    <select id="getMessagesByChatItemId" parameterType="Integer" resultType="Message">
        select * from message where chatItemId = #{chatItemId};
    </select>

    <select id="getLastMessageByChatItemId" parameterType="Integer" resultType="Message">
        select * from message where chatItemId = #{chatItemId} order by id desc limit 1
    </select>

    <select id="getAllMessages" resultType="Message">
        select * from message;
    </select>

    <insert id="addMessage" parameterType="Message">
        insert into message (chatItemId, text, type, fileType, fileName, fileLength,filePath,url)
        values (#{chatItemId}, #{text},#{type},#{fileType},#{fileName},#{fileLength},#{filePath},#{url});
    </insert>

    <delete id="deleteMessageById" parameterType="Integer">
        delete from message where id = #{id}
    </delete>

    <delete id="deleteMessagesByChatItemId" parameterType="Integer">
        delete from message where chatItemId = #{chatItemId}
    </delete>

    <update id="updateMessage" parameterType="Message">
        update message set
        chatItemId = #{chatItemId},
        text = #{text},
        type = #{type}
        fileType = #{fileType}
        fileName = #{fileName}
        fileLength = #{fileLength}
        filePath = #{filePath}
        url = #{url}
        where
        id = #{id}
    </update>
</mapper>