<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyx.mapper.UserMapper">
    <select id="getUserById" parameterType="Integer" resultType="User">
        select * from client.user where id = #{id};
    </select>

    <select id="getUserByUsername" parameterType="String" resultType="User">
        select * from client.user where username = #{username};
    </select>

    <select id="getUserByLoginState" parameterType="Integer" resultType="User">
        select * from client.user where loginState = #{loginState} limit 1;
    </select>

    <select id="getAllUsers" resultType="User">
        select * from client.user;
    </select>

    <insert id="addUser" parameterType="User">
        insert into client.user (username, password, url, weChatAccount,loginState)
        values (#{username},#{password},#{url},#{weChatAccount},#{loginState});
    </insert>

    <delete id="deleteUserById" parameterType="Integer">
        delete from client.user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update client.user set
        username = #{username},
        password = #{password},
        url = #{url},
        weChatAccount = #{weChatAccount},
        loginState = #{loginState}
        where
        id = #{id}
    </update>

    <update id="updateUserByUsername" parameterType="User">
        update client.user set
        password = #{password},
        url = #{url},
        weChatAccount = #{weChatAccount},
        loginState = #{loginState}
        where
        username = #{username}
    </update>
</mapper>